<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ManagementWorkstepControllerSoap" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://1.1.2.6:57002/WorkstepController.Management.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManagementWorkstepControllerSoap"
        contract="WorkstepWebServiceReference.ManagementWorkstepControllerSoap"
        name="ManagementWorkstepControllerSoap" />
    </client>
  </system.serviceModel>
</configuration>