<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="GlobalPath" value="f:\www\DMSWebService\telasi\dms\Files\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ManagementWorkstepControllerSoap" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.235.170.25:57002/WorkstepController.Management.asmx" binding="basicHttpBinding" bindingConfiguration="ManagementWorkstepControllerSoap" contract="WorkstepWebServiceReference.ManagementWorkstepControllerSoap" name="ManagementWorkstepControllerSoap"/>
    </client>
  </system.serviceModel>
</configuration>