<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcessWorkstepControllerSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ProcessWorkstepControllerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://1.1.2.6:57003/WorkstepController.Process.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProcessWorkstepControllerSoap"
                contract="WorkstepWebReference.ProcessWorkstepControllerSoap"
                name="ProcessWorkstepControllerSoap" />
            <endpoint address="http://1.1.2.6:57003/WorkstepController.Process.asmx"
                binding="customBinding" bindingConfiguration="ProcessWorkstepControllerSoap12"
                contract="WorkstepWebReference.ProcessWorkstepControllerSoap"
                name="ProcessWorkstepControllerSoap12" />
        </client>
    </system.serviceModel>
</configuration>
